/* *{border: 1px solid black;} */
body {font-family: 'Rubik', sans-serif;}
h1 {display: none;}
.menu-menu-1-container {display: flex;justify-content: space-between;padding: 20px;}
.menu-menu-1-container > h2 {border-bottom: 1px solid black;}
#menu-menu-1 {display: flex;}
#menu-menu-1 > li {margin:0 10px; list-style: none;}
#menu-menu-1 > li > a {color: black;font-size: 115%;}
#menu-menu-1 > li > a:hover {color: gray;}
